* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Java files
*.java linguist-language=java

# Kotlin files
*.kt linguist-language=kotlin
*.kts linguist-language=kotlin

# Gradle files
*.gradle linguist-language=groovy
*.gradle.kts linguist-language=kotlin

# Properties files
*.properties linguist-language=properties

# Docker files
Dockerfile linguist-language=dockerfile
*.dockerfile linguist-language=dockerfile

# YAML files
*.yml linguist-language=yaml
*.yaml linguist-language=yaml

# Markdown files
*.md linguist-language=markdown
*.markdown linguist-language=markdown
